<html lang="en">
  {% include "header.html" %}
<body>
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh">
    <div class="w-50">
      <h1 class="text-black text-center">Forgot password</h1>
      <div class="py-4 px-3 mx-auto">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" placeholder="Email address"/>
          </div>
      
          <!--error message-->
          <div id="error-message" class="text-danger"></div>
          </div>
        
          <!-- Submit button -->
          <div class="d-flex justify-content-center">
            <button type="button" id="send-otp" class="btn btn-primary mb-4 shadow-0">send OTP</button>
          </div>

      </div>
    </div>
</div>
</body>
{% include "footer.html" %}
<script>
  $(document).ready(function() {
    $('#send-otp').on('click', function() {
      console.log("OTP btn clicked.");
        const email = $('#email').val().trim();

        // Validation
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Basic email validation
        
        let errorMessage = '';
        let focusField = '';

        // Remove previous error styling
        $('#error-message').addClass('hidden'); // Hide error message initially

        // Check if fields are empty
        if (!email) {
            errorMessage += 'Email is required.<br>';
            focusField = '#email';
        } else if (!emailRegex.test(email)) {
          errorMessage += 'Please enter a valid email address.<br>';
          focusField = '#email';
        }

        if (errorMessage) {
            $('#error-message').html(errorMessage).removeClass('hidden');
            if (focusField) {
                $(focusField).addClass('error-field').focus(); // Set focus to the field with error
            }
            return;
        }
        console.log(email);
        // Send AJAX request
        $.ajax({
            url: 'http://127.0.0.1:8000/api/ResetPassword/', // Add the URL of your Django view
            type: 'POST',
            data: JSON.stringify({
                'email': email,
            }),
            contentType: 'application/json',
            success: function(response) {
              console.log(response);
              localStorage.setItem('token', response.token);
              
                if(response.success){
                  window.location.href = '../home/';
                }
                // Redirect or clear form here
            },
            error: function(xhr) {
                $('#error-message').text(xhr.responseJSON);
            }
        });
    });
});
</script>
</html>