<html lang="en">
{% include "header.html" %}
<body>
  <div class="container py-4 px-3 mx-auto">

    
      <!-- Register buttons -->
      <div class="text-center">
        <p>this is home page</p>
        <div id="user-info">
          <h1>Welcome, <span id="username"></span></h1>
          <p>Email: <span id="email"></span></p>
          <p>First Name: <span id="first-name"></span></p>
          <p>Last Name: <span id="last-name"></span></p>
        </div>
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>
    
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
    
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>
    
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
  </div>
  <button type="button" onclick="logout()" class="btn btn-secondary mx-1 text-lowercase">
    Logout
  </button>
</body>
{% include "footer.html" %}
<script>
  $(document).ready(function() {
      const token = localStorage.getItem('token');

      if (!token) {
          window.location.href = '/login/'; // Redirect to login if no token is found
          return;
      }

      $.ajax({
          url: 'http://127.0.0.1:8000/api/user-profile/',
          type: 'GET',
          headers: {
              'Authorization': `Token ${token}`
          },
          success: function(response) {
              $('#username').text(response.username);
              $('#email').text(response.email);
              $('#first-name').text(response.first_name);
              $('#last-name').text(response.last_name);
          },
          error: function(xhr) {
              // Handle error, e.g., show a message or redirect
              $('#user-info').text('Failed to load user data.');
              window.location.href = '/login/'; // Redirect to login if no token is found
          return;
          }
      });
  });
  function logout(){
    const token = localStorage.getItem('token');

    $.ajax({
      url: 'http://127.0.0.1:8000/api/logout/',
      type: 'POST',
      headers: {
          'Authorization': `Token ${token}`
      },
      success: function(response) {
          $('#username').text(response.username);
          $('#email').text(response.email);
          $('#first-name').text(response.first_name);
          $('#last-name').text(response.last_name);
      },
      error: function(xhr) {
          // Handle error, e.g., show a message or redirect
          $('#user-info').text('Failed to load user data.');
          window.location.href = '/login/'; // Redirect to login if no token is found
      return;
      }
  });
  }
</script>
</html>